# Ignore everything
*

# Whitelist subdirectories
!*/

# Whitelist the following extensions
!*.c
!*.h
!*.tex
!*.txt
!*.sh
!*.mk

# Whitelist specific filenames
!*.gitignore
!/README.md
!/LICENSE
!/Makefile
